*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
}
.navbar{
    background-color: #1A237E !important;
}
.nav-item{
    padding-left: 5px ;
}
.nav-link{
     color: #ffffff !important;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: small;
     margin: 0px;
     padding: 0px;
}
.fa{
    color: #ffffff !important;
    padding-right: 10px;
}
.row{
    margin: 30px;
    padding: 30px;
}
.featurette-heading{
    color: #153C27;
    font-size: 30px;
}
.lead{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: black;
}
.col-md-5{
    padding-left: 110px;
}
.bold{
    color: #1A237E;
    font-weight: bolder;
}
.btn{
    background-color:#1A237E;
    height: 50px;
    width: 175px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#Number2{
    text-align: center;
    background-color: #1A237E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #B80924;
}

#one,#two,#three,#four{
    height: 120px;
    width: 270px;
    border: #ffffff 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    
}
.department{
    text-align: center;
    background-color:  #1A237E;
    margin-top: 20px 0px 20px 0px;
    padding: 20px;
}
#bold{
    font-weight: bolder;
    font-size: 40px;
    color: #ffffff;
}
#line{
    color: #ffffff;
    font-weight: bolder;
}
#line1{
    color: #1A237E;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    font-size: xx-large !important;
}
.latest{
    text-align: center;
    background-color: #f1eaea;
    padding-top: 60px;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    
}
.btn-outline-primary{
    height: 100px;
    width: 100px;
    color: #ffffff;
    border: #ffffff 1px solid;
}
.bttn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #B80924;
}
.fa-user{
    color: black !important;
    
}
.fa-user-o{
    color: rgb(27, 3, 3) !important;
}
.user{
    text-align: left !important;
    font-size: xx-large !important;
}
.p{
    margin: 10px;
}
.latest1{
    
    text-align: center;
}
.event{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}
#Number1{
    background-color: #1A237E !important;
    display: flex;
    color: #ffffff;
    font-style: italic;
    font-size: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 70px;
    text-align: justify;
    font-family: 'Merriweather', serif;
    line-height: 2em;
}
#heading{
    width: 800px;
}
.btn-light{
    background-color: #ffffff;
    color: #1A237E;
    font-weight: bold;
}
.right{
    text-align: right;
}
.card-body{
    color: #1A237E;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.studing{
    background-color: #f1eaea;
    padding: 90px;
}
.study{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#grad,#under,#post{
    height: 120px;
    width: 300px;
    border: #ffffff 2px solid;
    color: #B80924;
    margin: 10px;
    padding: 25px;
    background-color: #ffffff;
}
.map{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icons i{
    padding-left: 25px;
}
.contact i{
    color: #B80924 !important;
}
.contact{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    padding: 30px 10px 0px 55px;
}
#Us{
    font-family: 'Merriweather', serif;
}
.phone{
    color: #888888;
}
.btn-outline-secondary{
    height: 38px;
    width: 110px;
    background-color: rgb(226, 152, 13);
    color: #ffffff;
    font-weight: bold;
}
.foter{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1eaea;
}
.logo{
    width: 50%;
    padding-top: 50px;
    padding-bottom: 30px;
}
.copy{
    width: 50%;
    padding-top: 85px;
    padding-bottom: 30px;
    color: #888888;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.copy i{
    color: #888888 !important;
}
.move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}